

  <div class="wrapper">
    <div class="card barbarian">
      <div class="card__image card__image--barbarian">
        <img src="https://vignette.wikia.nocookie.net/twrpg/images/f/ff/Protector_of_Nature.jpg/revision/latest?cb=20181210025632" alt="barbarian" />
      </div>
      <div class="card__level card__level--barbarian">Level 150</div>
      <div class="card__unit-name">Protector of Nature</div>
      <div class="card__unit-description">
        The Protector of Nature is a level 120 Raid Boss. It drops item from the Nature set. He is the first raid boss players can fight against, even having his own version of powders.
      </div>

      <div class="card__unit-stats card__unit-stats--barbarian clearfix">
        <div class="one-third">
          <div class="stat">Health</div>
          <div class="stat-value">300000</div>
        </div>

        <div class="one-third">
          <div class="stat">Attack</div>
          <div class="stat-value">1750-1755</div>
        </div>

        <div class="one-third no-border">
          <div class="stat">Location</div>
          <div class="stat-value">Kalidi Forest</div>
        </div>

      </div>

    </div> <!-- end card barbarian-->
  </div> <!-- end wrapper -->

