
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #1c0a8c 0%, #4950af 65%, #3882af 100%) fixed;
  background-size: cover;
  font: 14px/20px "Lato", Arial, sans-serif;
  color: #9E9E9E;
  margin-top: 30px;
}


.card {
  background: white;
  width: 100%;
  height: 600px;
  display: inline-block;
  margin: auto;
  border-radius: 19px;
  position: relative;
  text-align: center;
  box-shadow: -1px 15px 30px -12px black;
  z-index: 9999;
}

.card__image {
  position: relative;
  height: 200px;
  margin-bottom: 35px;
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  margin-top: 10px;
}

.img-boss {
  width:250px;
}

.stat {
  font-weight: bold;
}

.stat-info-tab {
  background: teal;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  color: white;
  height: 100%;
}
.card__level {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 3px;
  color: teal;
}

.card__unit-name {
  font-size: 26px;
  color: black;
  font-weight: 900;
  margin-bottom: 5px;
}

.card__unit-description {
  padding: 20px;
  margin-bottom: 10px;
}


.card__unit-stats {
  color: white;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  background: teal;
  padding: 20px 15px;
}

.stats-hr {
  width: 100px;
  color: white;
}

.stats-value-hr {
  width: 100%;
  color: white;
}
