
<h1 class="text-center mb-5">Greatswords</h1>

<div class="container div-table">
  <div class="row header-row p-3">
    <div class="col-xl-1">
      #
    </div>

    <div class="col-xl-2">
      Name
    </div>

    <div class="col-xl-1">
      Level
    </div>

    <div class="col-xl-4">
      Stats
    </div>

    <div class="col-xl-4">
      Source
    </div>
  </div>

  <div class="row body-row p-3">
    <div class="col-xl-1 m-auto d-flex justify-content-between">
      <img class="img-thumbnail" src="https://vignette.wikia.nocookie.net/twrpg/images/b/bd/BTNTSword01.jpg/revision/latest?cb=20140708190006" alt="Raven Greatsword">
    </div>

    <div class="col-xl-2 m-auto d-flex justify-content-between">
      Raven Greatsword
    </div>

    <div class="col-xl-1 m-auto d-flex justify-content-between">
      200
    </div>

    <div class="col-xl-4 m-auto d-flex justify-content-between">
      <ul class="list-group list-group-flush">

        <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
          <span class="badge badge-info badge-pill">+1400 Damage</span>
        </li>

        <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
          <span class="badge badge-info badge-pill">+155 Strength</span>
        </li>

        <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
          <span class="badge badge-info badge-pill" style="cursor: pointer;"
                ngbPopover="Throws a pumpkin at target
                          enemy dealing 20,000 + 80x Int Magic Damage,
                          stunning the enemy for 2 seconds, and healing you for 15,000 Health (60 second CD)."
                popoverTitle="Pumpkin Toss"
                popoverClass="custom-popover"
                placement="top">
            Active
          </span>
        </li>
      </ul>
    </div>

    <div class="col-xl-4 m-auto d-flex justify-content-between">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
          <span class="badge badge-dark badge-pill">Wallachia Death Knight</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row body-row p-3">
    <div class="col-xl-1 m-auto d-flex justify-content-between">
      <img class="img-thumbnail" src="https://vignette.wikia.nocookie.net/twrpg/images/b/bd/BTNTSword01.jpg/revision/latest?cb=20140708190006" alt="Raven Greatsword">
    </div>

    <div class="col-xl-2 m-auto d-flex justify-content-between">
      Dragon Blaster
    </div>

    <div class="col-xl-1 m-auto d-flex justify-content-between">
      320
    </div>

    <div class="col-xl-4 m-auto d-flex justify-content-between">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
          <span class="badge badge-info badge-pill">+15,000 Damage</span>
        </li>

        <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
          <span class="badge badge-info badge-pill">+1,170 Agility</span>
        </li>

        <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
          <span class="badge badge-info badge-pill" style="cursor: pointer;"
                ngbPopover="Throws a pumpkin at target
                          enemy dealing 20,000 + 80x Int Magic Damage,
                          stunning the enemy for 2 seconds, and healing you for 15,000 Health (60 second CD)."
                popoverTitle="Pumpkin Toss"
                popoverClass="custom-popover"
                placement="top">
            Active
          </span>
        </li>
      </ul>
    </div>

    <div class="col-xl-4 m-auto d-flex justify-content-between">
     <ul class="list-group list-group-flush">
       <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
       <span class="badge badge-light badge-pill">Monster Blaster</span>
     </li>
       <li class="list-group-item list-group-item-inherit-bg d-flex justify-content-between align-items-center">
         <span class="badge badge-light badge-pill">True Dragon Cannon Belenus</span>
       </li>
     </ul>
    </div>
  </div>
</div>
