.position-right-5 {
  position: relative;
  left:5%;
}

.list-group-item-inherit-bg {
  background: inherit;
}

.div-table {
  background: #bee5eb;
}
.header-row {
  height: 15%;
  border-top: 1px solid;
  border-bottom: 1px solid;;
  border-color: #86cfda;
}

.body-row {
  background: rgba(0,0,0,.05);
}

.body-row:nth-child(odd) {
  background: rgba(0,0,0,.10);
}
/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media
only screen
and (max-width: 1200px) {

  /* Hide table headers (but not display: none;, for accessibility) */
  .header-row {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .body-row {
    border: 1px solid #ccc;
  }

  .body-row div {
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 10%;
    width: 90%;
  }
  .body-row div:before {
    position: relative;
    width: 10%;
    right: 10%;
    font-weight: bold;
  }


  .body-row div:nth-of-type(1):before { content: "#"; }
  .body-row div:nth-of-type(2):before { content: "Name"; }
  .body-row div:nth-of-type(3):before { content: "Level"; }
  .body-row div:nth-of-type(4):before { content: "Stats"; }
  .body-row div:nth-of-type(5):before { content: "Source"; }

  td {
    /* Behave  like a "row" */
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 10%;
    width: 100%;
  }
  td ul {
    padding-left: 10%;
    width: 90%;
  }
  td:before {
    /* behave like Header */
    padding-right: 20%;
    font-weight: bold;
  }

  /*
      Label the data
  You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
      */
}
