/* You can add global styles to this file, and also import other style files */

body {
  padding: 20px;
  background: lightgray;
}

.larger-font {
  font-size: 1.2rem;
}

.custom-popover {
  min-width: 200px !important;
}
